/* 이미지 항목 기본 스타일 */

.selected-thumb {
    border: 3px solid #3399ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(51, 153, 255, 0.7);
}


/* 스크롤 배경색 변경 */
.imgList {
  background-color: #6E6D6D;  /* 스크롤이 있는 영역의 배경색 */
  height: 100%;
  overflow-y: scroll;  /* 세로 스크롤 */
  overflow-x: hidden;  /* 가로 스크롤 제거 */
  scroll-behavior: auto;
}

/* 스크롤 바 스타일 */
.imgList::-webkit-scrollbar {
  width: 8px;  /* 스크롤 바의 너비 */
}

.imgList::-webkit-scrollbar-thumb {
  background-color: #ececec;  /* 스크롤 바의 thumb 색상 */
  border-radius: 10px;
}

.imgList::-webkit-scrollbar-track {
  background-color: #6E6D6D;  /* 스크롤 바 배경 색상 */
}
