/* 전체 메뉴 항목 스타일 */
.menu-item {
    font-size: 14px;
    padding: 10px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    color: black;
    transition: background-color 0.2s ease;
}

/* 선택된 메뉴 항목 스타일 */
.menu-item.selected {
	border-bottom-right-radius: 20px;
	background-color: rgb(97 199 255 / 49%);
	border-top-right-radius: 20px;
	color: #3674B5;
	font-weight: 600;
	border-left: 4px solid #3674B5; /* 왼쪽 강조선 */
}

/* 마우스 오버 효과 */
.menu-item:hover {
	border-bottom-right-radius: 20px;
    background-color: rgb(97 199 255 / 49%);
	border-top-right-radius: 20px;
	color: #3674B5;
	font-weight: 600;
	border-left: 4px solid #3674B5; /* 왼쪽 강조선 */
}
